body {
    margin: auto;
    max-width: 60em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: rgb(240,240,240);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(175,255,255);
  }
  
nav li {
    float: left;
}
  
nav li a {
    display: block;
    color: rgb(0,0,0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav li a:hover {
    background-color:rgb(0,128,128);
}

a {
    color: rgb(0,128,128);
}

th {
    text-align: left;
}

.header {
    background: rgb(64,224,208);
    font-weight: bold;
    padding: 0.75em 0.75em;
    font-size: 2em;
    margin-top: .5em;
    margin-bottom: 0.25em;
    border-style: solid;
    border-color: rgb(0,128,128);
}

.list tr:nth-child(even) {
    background-color: rgb(240,240,240);
}

.navigation {
    background: rgb(175,255,255);
    border-style: solid;
    font-size: 1em;
    border-color: rgb(0,128,128);
    margin-top: 0em;
    margin-bottom: 0em;
}

form {
    max-width: 40em;
    margin-bottom: 2em;
    margin-left: 2em;   
}

form label, input, button, hidden, submit {
    margin: auto 0;
}


h2 {
    margin-top: 0;
    font-size: 1.5em;
}

h3 {
    margin-top: 0;
    font-size: 1.2em;
}

.content {
    background: white;
    padding: 1.5em 2em;
    border-style: solid;
    border-color: teal;
    font-size: 1em;
    margin-top: 0.5em;
}


