{% extends "layout.html" %}

{% block body %}
<h2>Tervetuloa Tranquil Tundran varausjärjestelmään!</h2>
<p>
Näillä sivuilla voit tutustua tuntitarjontaamme, varata ja perua tunteja sekä 
ostaa sarjakorttejamme.
</p>
<p>
Vain rekisteröityneet käyttäjät voivat ostaa kortteja ja varata palveluitamme.
Jos sinulla ei ole vielä käyttäjätunnusta, voit 
<a href="/register.html">rekisteröidyä</a> asiakkaaksi. 
Jos sinulla on jo käyttäjätunnus, <a href="/signin.html">kirjaudu sisään</a>.
</p>
{% endblock %}
