  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Tranquil Tundran Varaussovellus</title>
    </head>

    <body>
    <h1>Tranquil Tundran Varaussovellus</h1>
    <p>
    <a href="/">Etusivu</a> || 
    <a href="/register">Rekisteröidy</a> || 
    <a href="/login">Kirjaudu</a> || 
    <a href="/lessons">Luo tunteja</a> || 
    <a href="/purchase">Osta sarjakortti</a> || 
    </p>
      {% block body %}
      <p>
	Tähän tuodaan sisältö muualta.
      </p>
      {% endblock %}
    </body>
  </html>
