  <!DOCTYPE html>
  
    <head>
      <meta charset="utf-8">
      <title>Tranquil Tundran Varaussovellus</title>
      <link rel="stylesheet" href={{ url_for('static',filename='style.css') }}>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
      <div class = "header">
        <h1>Tranquil Tundra</h1>
        <h2>Varausjärjestelmä</h2>
      </div><div class ="navigation">
        <nav>
        <ul>
          {% if session.user_id %}
          <li><a href="/">Etusivu</a></li>
          <li><a href="/listlessons">Listaa tunnit</a></li> 
          <li><a href="/purchase">Osta sarjakortti</a></li> 
          <li><a href="/reservations">Omat varaukset</a></li>
          <li><a href="/info">Omat tiedot ja historia</a></li>
          {% if session.user_role == 2 %}
          <li><a href="/lessons">Luo tunteja</a></li> 
          <li><a href="/confirm">Vahvista käyttäjän taso</a>
          {% endif %}
          {% if session.user_role == 3 %}
          <li><a href="/lessons">Luo tunteja</a></li> 
          <li><a href="/confirm">Vahvista käyttäjän taso</a>
          <li><a href="/set_role">Muuta roolia</a>
          {% endif %}
          <li><a href="/logout">Kirjaudu ulos</a>
          {% else %}
          <li><a href="/">Etusivu</a></li> 
          <li><a href="/register">Rekisteröidy</a></li> 
          <li><a href="/login">Kirjaudu</a></li> 
          <li><a href="/listlessons">Listaa tunnit</a>
          {% endif %}
       </ul>
      </nav>
    </div>
    
      <div class = "content">
        {% block body %}

        {% endblock %}
      </div>
    </body>
  </html>
