{% extends "layout.html" %}

{% block body %}
<h3>Varattavissa olevat tunnit</h3>

<table>
    <tr>
        <th>Päivä</th>
        <th>Kello</th>
        <th>Taso</th>
        <th>Varauksia/maksimiosallistujamäärä</th>
        {% if session.user_id %}
        <th></th>
        {% endif %}
    </tr>
{% for lesson in lessons %}
    <tr>
        <td>{{ lesson[1] }}</td>
        <td>{{ lesson[2] }}</td>
        <td>{{ lesson[3] }}</td>
        <td>{{ lesson[5] }} / {{ lesson[4] }}</td>
        {% if session.user_id %}
        <td>
            <form action="/book" method="post">
                <input type="hidden" value={{ lesson[0] }} name="id"> 
                <input type="submit" value="Varaa">
            </form>
        </td>
        {% endif %}
    </tr>
{% endfor %}
</table>
{% endblock %}