{% extends "layout.html" %}

{% block body %}

<h3>Kirjaudu sisään</h3>

<form action="/login" method="post">
    <table>
        <tr>
            <td>Käyttäjätunnus:</td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>Salasana:</td>
            <td><input type="password" name="password"></td>
        </tr>
    </table>

    <input type="submit" value="Kirjaudu">
</form>

<p>Jos sinulla ei ole tunnusta, voit luoda uuden tunnuksen <a href="/register">tästä</a>.</p>

{% endblock %}