{% extends "layout.html" %}

{% block body %}
<h3>Rekisteröidy käyttäjäksi</h3>

<form action="/register" method="post">
    Käyttäjätunnus: <input type="text" name="username">
    <p>
    Salasana: <input type="password" name="password">
    <p>
    Nimi: <input type="text" name="name">
    <p>
    Taso: 
    <p>
        <input type="radio" name="level" value="1" checked> 1
        <input type="radio" name="level" value="2"> 2
        <input type="radio" name="level" value="3"> 3
        <input type="radio" name="level" value="4"> 4
        <input type="radio" name="level" value="5"> 5
    <p>
<input type="submit" value="Rekisteröidy">
</form>

{% endblock %}